*{
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'ideal-semibold';
    src: url(/assets/fonts/IdealSans-Semibold-Pro.otf);
}

@font-face {
    font-family: 'ideal-medium';
    src: url(/assets/fonts/IdealSans-Medium-Pro.otf);
}

@font-face {
    font-family: 'ideal';
    src: url(/assets/fonts/IdealSans-Book-Pro.otf);
}

@font-face{
    font-family: 'segoe';
    src: url(/assets/fonts/Segoe-UI.ttf);
}

@font-face{
    font-family: 'segoe-l';
    src: url(/assets/fonts/segoeuisl.ttf);
}

.row {
    position: relative;
    margin: 0 auto;
}

button{
    border: none;
    outline: none;
}

button:focus{
    outline: none;
}

h1,h3, .breadcrumb *, .share-text, .title-h2 {
    font-family: 'ideal-semibold';
}

.breadcrumb {
    padding: 0;
    background-color:transparent;
    text-transform: uppercase;
}

.breadcrumb-item.active {
    color: #007DB7;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

h6{
    font-family: 'ideal';
}

p{
    font-family: 'Segoe UI';
}

.font-ideal {
    font-family: 'ideal-semibold' !important;
}


/* NAVIGATION BAR CUSTOM CSS */
    .top-bar{
        position: absolute;
        background: #fff;
        width: 100%;
        z-index: 10;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        transition: all .5s ease;
        top: 0;
    }

    .overlay-bar{
        background: none;
    }

    .search{
        position: relative;
        margin-right: 12px;
    }

    .search input{
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 3px 15px;
        width: 160px;
        outline: none;
    }

    .search .fa-search{
        position: absolute;
        right: 10px;
        top: 7px;
        font-size: 14px;
        color: #007DB7;
    }

    .fa-facebook {
        color: white;
        font-size: 20px;
    }

    .fa-twitter-square, .fa-linkedin{
        color: white;
        font-size: 20px;
    }

    .fa-envelope-open{
        color: white;
        font-size: 18.4px;

    }

    .utility-menu i{
        margin-left: 12px;
    }

    .utility-menu{
        padding-bottom: 15px;
        border-bottom: .3px solid rgba(255, 255, 255, .6);
    }

    .nav-menu{
        margin-top: 15px;
        color: white;
    }

    .menu, .categories{
        padding: 0;
        margin: 0;
        display: inline-block;
        position: relative;
        top: 2px;
        list-style: none;
    }
    
    .menu li {
        float: left;
        margin-right: 34px;
        position: relative;
        text-transform: uppercase;
        white-space: nowrap;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        font-family: 'ideal-medium';
    }

    .menu li a {
        color: white;
        text-decoration: none;
    }

    .menu li.active a {
        border-bottom: 2px solid white;
        font-family: 'ideal-semibold';
        font-size: 14px;
    }

    .menu li.has-dropdown a::after{
        content: '▾';
        color: white;
        font-size: 17px;
        margin-left: 5px;
    }

    .menu li.has-dropdown{
        top: -3px;
        position: relative;
    }

    .menu li:last-child{
        margin: 0;
    }

    .sub-menu {
        display: none;
        position: absolute;
        background-color: white;
        box-shadow: 1px 3px 6px #00000029;
        color: black;
        font-family: 'ideal';
        padding: 10px 18px;
        line-height: 2.2;
        min-width: 137px;
    }

    .sub-menu p{
        font-family: 'ideal';
        margin: 0;
        text-transform: capitalize;
    }

    .menu li:hover .sub-menu, .categories li:hover .sub-menu{
        display: block;
    }
    
/* NEWS ROW MENU */

.categories li, .categories li a {
    font-family: 'ideal-medium';
}

.categories li, .categories li a {
    color: #131313;
}

.categories li {
    float: left;
    position: relative;
    white-space: nowrap;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
    margin-right: 50px;
}

.categories li.has-dropdown {
    position: relative;
    margin-right: 70px;
}

.categories li a {
    opacity: .80;
    font-weight: 400;
    text-transform: capitalize;
}

.categories li.has-dropdown a:after {
    content: '▾';
    font-size: 30px;
    margin-left: 3px;
    position: absolute;
    top: -7px;
}

/* HEADER - PICTURE WITH TEXT */
    .header-picture-text{
        color: white
    }

    .header-picture-text h1 {
        font-size: 50px;
        font-family: 'ideal-semibold';
    }

    .header-picture-text h1.fs-38 {
        font-size: 38px;
    }

    .header-picture-text h3{
        font-size: 42px;
        font-weight: 800;
        font-family: 'ideal-semibold';
    }

    .header-picture-text h2{
        font-size: 32px;
        font-family: 'ideal-medium';
        letter-spacing: 1.22px;
    }

    .header-picture-text p.description{
        font-size: 20px;
        font-weight: 300;
        font-family: 'Segoe UI';
        font-weight: 200;
        letter-spacing: 0;
    }

    .header-picture-text hr{    
        border-top: 4px solid white;
    }

/* NEWS SECTION */
    .connection{
        opacity: .15;
        position: absolute;
        top: 50px;
    }

    .news-section h1, .news-section p{
        font-family: 'ideal-semibold';
    }

    .news-section p{
        letter-spacing: 0.76px;
    }

    .news-holder{
        color: #131313;
    }

    .news-holder .img-holder{
        width: 100%;
        /* height: 200px; */
    }

    .news-holder .img-holder img{
        width: 100%;
        height: auto;
    }

    .news-holder .type{
        margin-top: 17px;
        font-weight: bold;
        font-size: 14px;
        opacity: .7;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-family: 'ideal-semibold';
    }

    .news-holder .title {
        color: #007DB7;
        font-size: 20px;
        font-weight: bold;
        font-family: 'ideal-semibold';
    }

    .news-holder .date {
        font-size: 14px;
        font-family: 'Segoe UI';
        letter-spacing: 0;
    }

    .news-holder .description, ul.bullet-list * {
        font-family: 'segoe';
        font-size: 16px;
    }

/* SPEAKERS */
    
    .speaker{
        line-height: 1.2;
        position: relative;
    }

    .speaker .img-holder{
        /* width: 250px; */
        width: 100%;
        height: 375px;
        overflow: hidden;
        z-index: 5;
    }

    .speaker .img-holder img{
        height: 100%;
    }

    .speaker .name{
        font-size: 32px;
        font-weight: 500;
        margin-top: 10px;
        margin-bottom: 0px;
        font-family: 'ideal-medium';
        letter-spacing: 1.22px;
    }

    .speaker .position{
        font-size: 20px;
        font-family: 'ideal-medium';
        letter-spacing: 0.76px;
    }

/* NEWSLETTER */

    .dropdown:hover .dropdown-menu {
        display: block !important;
    }

    .dropdown .dropdown-menu {
        width: 500px;
    }

    .nav, .nav-item, .nav-item * {
        font-family: 'ideal-medium';
        font-size: 20px;
        color: #333;
    }

    .nav .nav-title {
        padding-left: 0;
    }

    .nav-item .dropdown-menu a {
        color: #0056b3;
        width: 50%;
        float: left;
        clear: none;
        display: inline-block;
    }
    
    .newsletter .container, .footer > .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .newsletter i {
        font-size: 40px;
        margin-right: 18px;
    }

    .newsletter input{
        border: none;
        border-radius: 6px;
        height: 70px;
        margin-right: 20px;
        width: 390px;
        padding: 0px 18px;
        outline: none;
    }

    .newsletter .btn-yellow{
        width: 180px;
    }

    .newsletter p{
        font-family: 'ideal-medium';
    }

    .newsletter p.light{
        font-family: "segoe";
    }

/* FOOTER */

    footer p{
        font-family: 'segoe';
    }
    footer ul{
        list-style: none;
    }

    footer ul li{
        font-size: 16px;
        margin-bottom: 5px;
        cursor: pointer;
        font-family: 'ideal';
    }

    footer ul li:first-child{
        text-transform: none;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 10px;
        font-family: 'ideal-medium';
    }
    
    footer .terms{
        background-color: #DADADA;
    }

    footer .terms p{
        font-family: 'ideal';
        opacity: .6;
        font-size: 16px;
        cursor: pointer;
        padding: 20px 0px 16px 0px;
        margin: 0;
        margin-right: 50px;
    }

/* HEADER WITH IMAGE OVERLAY */

    .image-overlay{
        width: 100%;
        display: block;
        opacity: .5;
        mix-blend-mode: overlay;
        position: absolute;
        top: 0;
    }


    .image-multiply{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        mix-blend-mode: multiply;
        opacity: .31;
    }

/* UTILS,COLORS ETC */

    /* Add blue gradient */
    .blue-gradient-bg{
        background: transparent linear-gradient(180deg, #6DCFF6 0%, #007DB7 100%) 0% 0% no-repeat padding-box;
    }

    .bg-blue{
        background-color: #007DB7;
    }

    .bg-light-blue{
        background-color: #00B6C9;
    }

    /* Parallax Effect */
    .bg-parallax{
        background-image: url(/assets/images/parallax.png);
        min-height: 500px;
        background-attachment: fixed;
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    /* Add diagonal slice at the bottom */
    .diagonal-bottom-left{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
        padding-bottom: 120px;
    }

    .diagonal-bottom-left + section{
        margin-top: -80px;
    }

    .diagonal-bottom-left-small{
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 100px));
        padding-bottom: 120px;
    }

    .diagonal-bottom-left + section{
        margin-top: -100px;
    }

    .diagonal-bottom-right{
        -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
        padding-bottom: 10%;
    }

    .diagonal-bottom-right + section{
        margin-top: -4.5%;
    }

    /* Add diagonal slice at the top */
    .diagonal-top{
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }

    /* Add square image on background */
    .square{
        background-image: url(/assets/images/square.png);
        position: absolute;
        width: 221px;
        height: 575px;
        background-repeat: no-repeat;
        /* z-index: -2; */
        opacity: .3;
        mix-blend-mode: soft-light !important;
    }

    /* Add square image on the left side */
    .square-left{
        top: 25px;
        left: 28px;
        transform: scaleX(-1);
    }

    /* Add square image on the right side */
    .square-right{
        top: 25px;
        right: 28px;
    }

    .h-140{
        height: 140%;
    }

    .bg-gray{
        background-color: #F4F4F4;
    }

    .custom-shadow{
        box-shadow: 0px 3px 6px #00000029;
    }

    .text-16{
        font-size: 16px;
    }

    .text-20{
        font-size: 20px;
    }

    .text-32{
        font-size: 32px !important;
    }

    .text-42{
        font-size: 42px;
    }

    .text-52{
        font-size: 52px;
    }
    
    .blue{
        color: #007DB7;
    }

    .gray{
        color: #4F4F4F;
    }

    .white{
        color: white;
    }

    .underline{
        text-decoration: underline;
    }

    .uppercase{
        text-transform: uppercase;
    }

    .light{
        font-weight: 300;
    }

    .medium{
        font-weight: 500;
    }

    .btn-yellow{
        padding: 12.5px 23px;
        color: #002569;
        background-color: #D3E437;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 7px;
        font-family: 'ideal-medium';
    }

    .btn-yellow:hover{
        transition: background-color ease-in .2s;
        background-color: #c1d133;
    }

    .justify-content-even{
        justify-content: space-evenly;
    }

    .spacing{
        letter-spacing: 1.6px;
    }

    .spacing-1{
        letter-spacing: 1.22px;
    }

    .opacity-70{
        opacity: .7;
    }

/* BOOTSTRAP OVERRIDES */

.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 9px;
    margin-right: 8px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 1;
    transition: width 0.6s ease;
}

.carousel-indicators .active {
    width: 30px;
}

.blue-custom-carousel .carousel-indicators{
    bottom: -40px;
}

.blue-custom-carousel .carousel-indicators li{
    background-color: #037FB8;
    opacity: .76;
    width: 14px;
    height: 14px;
}

.blue-custom-carousel .carousel-indicators li.active{
    width: 32px;
}

.blue-custom-carousel .carousel-control-next-icon, .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
    filter: invert(33%) sepia(73%) saturate(3272%) hue-rotate(176deg) brightness(89%) contrast(98%);
}

.blue-custom-carousel .carousel-control-next-icon{
    background-image: url(/assets/images/slider-arrow.svg);
    transform: translateX(125px);
}

.blue-custom-carousel .carousel-control-prev-icon{
    background-image: url(/assets/images/slider-arrow.svg);
    transform: translateX(-125px) scalex(-1);
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    padding-left: 20px;
    padding-right: 20px;
}

/* MARGINS */

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/* NEWS */

.text-link {
    display: inline-block;
}

span.text-link {
    display: inline-block;
    position: relative;
    padding-right: 25px;
}

span.text-link:after {
    width: 20px;
    height: 20px;
    background-image: url(/assets/images/link-icon.svg);
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    top: -1px;
    right: 0;
    opacity: 0.6;
}

span.text-link.share-text {
    padding-right: 35px;
    margin-left: 40px;
}

span.text-link.share-text:after {
    width: 30px;
    height: 30px;
    top: -4px;
}

.news-holder .text-holder .type {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 14px;
}

.news-holder .text-holder.col-8 {
    padding: 0;
}

.news-holder .inner-row.fw {
    width: 100%;
    display: flex;
}

.news-holder hr {
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px solid rgb(44, 44, 44);
    height: 2px;
    width: calc(100% - 30px);
}

.resources .news-holder hr {
    width: 100%;
    opacity: 0.5;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* NEWS SUBPAGE ARTICLE */
.author-section .caption * {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 14px;
}

.caption * {
    font-size: 16px;
}

.avatar-section {
    max-width: 55px;
}

.author-caption{
    padding-left: 0;
}

.author-section .author-name {
    color: #007DB7;
    font-size: 16px;
    padding: 0 !important;
    margin: 0 !important;
}

.caption * {
    margin: 0 !important;
    padding: 0 !important;
}

.share-text {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

ul.bullet-list li {
    position: relative;
    margin: 5px 0;
}

ul.bullet-list {
    padding-left: 30px;
    list-style: none;
}

ul.bullet-list li:before {
    content: "•";
    font-size: 50px;
    position: absolute;
    top: 6px;
    height: 16px;
    width: 16px;
    display: block;
    color: black;
    left: -30px;
    line-height: 0.2;
}

.intro-text{
    font-family: 'ideal-semibold';
    font-size: 20px
}


/* COVID */

.hero-image {
    background: url(/assets/images/About.jpg) no-repeat scroll center center;
    background-size: cover;
}

.row-overlay:before {
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    opacity: 0.85;
    top: 0;
}

.hero-image:before {
    background: transparent linear-gradient(180deg, #6DCFF6 0%, #007DB7 100%) 0% 0% no-repeat padding-box;
}

/* COVID PAGE */

.map-section {
    padding: 100px 0 20px;
    background: url(/assets/images/map.jpg) no-repeat scroll center center;
    background-size: cover;
}

.map-section:before {
    background: #E8E8E8;
}

/* FONT SIZES */

.fs-50 {font-size: 40px;}
.fs-40 {font-size: 40px;}
.fs-30 {font-size: 30px;}
.fs-20 {font-size: 20px;}

.events-row.new-pt {
    padding-top: 150px !important;
}

.events-row .img-holder {
    padding-left: 0;
}

.container {
    margin: 0 auto;
}

.resources .title {
    font-weight: 500!important;
    font-size: 16px !important;
    font-family: 'Segoe UI';
}

.resources .news-holder .text-holder .type {
    opacity: 0.8;
    font-size: 14px;
}

/* UPCOMING EVENTS TEMPLATE */

.text-container * {
    margin: 0 !important;
}

.upcoming-events .title {
    font-size: 18px;
}

.header-picture-text .new-font {
    font-size: 16px !important;
    font-weight: 500 !important;
}

.nav-shadow {
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}

.search .fs-14 {
    font-size: 14px;
}



.search-header .search input {
    border: 1px solid #007DB7;
}

.search-header .nav-menu *, .social-links i:before{
    color: #007DB7;
}