/*------------------------------------------------------------------------
# Please place your own CSS on this file
# ------------------------------------------------------------------------*/

@font-face {
    font-family: 'ideal-semibold';
    src: url(../fonts/IdealSans-Semibold-Pro.otf);
}

@font-face {
    font-family: 'ideal-medium';
    src: url(../fonts/IdealSans-Medium-Pro.otf);
}

@font-face {
    font-family: 'ideal';
    src: url(../fonts/IdealSans-Book-Pro.otf);
}

@font-face{
    font-family: 'segoe';
    src: url(../fonts/Segoe-UI.ttf);
}

.topbar{
    padding-top: 24px;
    padding-bottom: 30px;
    height: 130px !important;
}

h1, h2, h3, h1 *, h2 *, h3 *, 
.field--name-field-symposium-head-title,
.field--name-field-symposium-head-title *,
.field--name-field-symposium-title,
.field--name-field-symposium-title *,
.field--name-field-key-speakers-title,
.field--name-field-key-speakers-title * {
    font-family: ideal-medium !important;
}


field field--name-field-key-speakers-title field--type-string field--label-hidden spacing field--item

field field--name-field-symposium-title field--type-text field--label-hidden field--item

.topbar-nav.nav{
    line-height: 1;
    margin-top: 50px;
    border-top: .3px solid rgba(255, 255, 255, .6);
    padding-top: 15px;
}

.topbar-nav .nav-item .nav-link{
    font-family: 'ideal-medium' !important;
    font-size: 12px;
    opacity: 1;
}

.topbar-nav .nav-item .nav-link:hover{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.topbar-nav .nav-item .nav-link.is-active{
    border-bottom: 2px solid white;
    padding-bottom: 2px;
}

.form-search{
    border: none !important;
    outline: none !important;
    border: none !important;
    border-radius: 15px !important;
    padding: 3px 15px !important;
    width: 160px !important;
    height: 30px !important;
    outline: none !important;
}

#block-thesaas-search{
    margin: 0px !important;
}

#block-sociallinks{
    margin-top: 8px !important;
}

.body-scrolled .topbar-nav .nav-item .nav-link{
    color: #007DB7 !important;
}

.body-scrolled .topbar.topbar-inverse.topbar-sticky{
    color: #007DB7 !important;
}

.body-scrolled .form-search{
    border: 1px solid #007DB7 !important;
}

.body-scrolled .topbar-nav .nav-item .nav-link:hover{
    border-bottom: 2px solid #007DB7;
    padding-bottom: 2px;
}

.body-scrolled .topbar-nav .nav-item .nav-link.is-active{
    border-bottom: 2px solid #007DB7;
    padding-bottom: 2px;
}

.body-scrolled .topbar{
    box-shadow: 1px 3px 6px #00000087;
}

/* RESPONSIVE */
/* Mobile screens */
@media screen and (max-width: 767px){
    .topbar-left{
        display: flex;
        flex-flow: row-reverse;
        width: 100%;
        justify-content: space-between;
        padding: 0px 5px;
        margin: 0 !important;
    }

    .topbar-toggler{
        padding-right: 0;
    }

    .site-branding img{
        width: 170px;
    }
}

/* --------------------------------- */

/* HEADER - PICTURE WITH TEXT */
.header{
    color: white;
}

.header h1 {
    font-size: 50px;
    font-family: 'ideal-semibold';
}

.header h3{
    font-size: 42px;
    font-weight: 800;
    font-family: 'ideal-semibold';
}

.header h2{
    font-size: 32px;
    font-family: 'ideal-medium';
    letter-spacing: 1.22px;
}

.header p.description{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Segoe UI';
    font-weight: 200;
    letter-spacing: 0;
}

.header hr{    
    border-top: 4px solid white;
}

.header img{
    display: block;
    margin: auto;
}

.header a{
    
    padding: 12.5px 23px;
    color: #002569;
    background-color: #D3E437;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 7px;
    font-family: 'ideal-medium';
}

.header a:hover{
    transition: background-color ease-in .2s;
    background-color: #c1d133;
}

/* NEWS SECTION */
.connection{
    opacity: .15;
    position: absolute;
    top: 50px;
}

.paragraph--type--paragraph-views-reference-block h1, .paragraph--type--paragraph-views-reference-block p{
    font-family: 'ideal-semibold';
}

.paragraph--type--paragraph-views-reference-block h1{
    color: #007DB7;
}

.paragraph--type--paragraph-views-reference-block .field--name-field-extra-link a{
    color: #007DB7; 
    letter-spacing: 0.76px;
    font-family: 'ideal-semibold';
}

.news-holder{
    color: #131313;
}

.news-holder .img-holder{
    width: 100%;
    /* height: 200px; */
}

.news-holder .img-holder img{
    width: 100%;
    height: auto;
}

.news-holder .type{
    margin-top: 17px;
    font-weight: bold;
    font-size: 16px;
    opacity: .56;
    text-transform: uppercase;
    margin-bottom: 0px;
    font-family: 'ideal-semibold';
}

.paragraph--type--paragraph-views-reference-block .views-field-title a{
    color: #007DB7;
    font-size: 20px;
    font-weight: bold;
    font-family: 'ideal-semibold';
}

.news-holder .date{
    font-size: 14px;
    font-family: 'Segoe UI';
    letter-spacing: 0;
}

.paragraph--type--paragraph-views-reference-block .views-field-body p{
    font-family: 'segoe';
    font-size: 16px;
}

/* SYMPOSIUM HIGHLIGHTS */
.paragraph--type--symposium-block{
    font-family: 'ideal-semibold';
}
.field--name-field-symposium-title{
    font-size: 52px;
    line-height: 1.2;
}
.field--name-field-symposium-subtitle{
    font-family: 'ideal-medium';
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: 1.22px;
}
.field--name-field-symposium-description{
    font-family: 'Segoe UI';
    font-size: 20px;
    line-height: 1.7;
}

/* BOOTSTRAP OVERRIDES */

.swiper-pagination-bullet{
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 9px;
    margin-right: 8px;
    margin-left: 8px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    opacity: 1;
    transition: width 0.6s ease;
}

.swiper-pagination-bullet:hover{
    background-color: #fff !important;
}
.swiper-pagination-bullet-active{
    width: 30px;
}

.flickity-page-dots .carousel-indicators{
    bottom: -40px;
}

.flickity-page-dots  .dot{
    background-color: #037FB8 !important;
    opacity: .76 !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 9px !important;
    transition: width 0.6s ease;
}

.flickity-page-dots  .dot.is-selected{
    width: 32px !important;
}

.flickity-button{
    height: 90px !important;
    width: 90px !important;
    background: none !important;
}

.flickity-prev-next-button.previous{
    left: -100px !important;
}

/* FOOTER */

footer{
    background-color: #F4F4F4;
}

footer p{
    font-family: 'segoe';
    color: #212529 !important;
}

footer .field--name-field-footer-title{
    font-size: 20px;
    margin: 1rem 0;
    font-family: 'ideal-semibold';
    color: #212529;
    max-width: 70%;
}

footer ul{
    list-style: none;
}

footer .field--name-field-footer-navigation-links, footer .field--name-field-footer-external-links{
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    font-family: 'ideal';
    text-transform: uppercase;
    color: #212529;
}

footer .field--name-field-footer-navigation-head, footer .field--name-field-footer-external-head {
    text-transform: none;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: 'ideal-medium';
    color: #212529;
}

footer .padding-custom-footer:first-child {
    padding-right: 2rem !important;
}

footer .padding-custom-footer {
    padding-right: 0 !important;
}

footer .terms{
    background-color: #DADADA;
}

footer .field--name-field-footer-copyright{
    font-family: 'ideal';
    opacity: .6;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 0px 3px 0px;
    margin: 0;
    margin-right: 50px;
    color: #212529;
}


/* BG PARALLAX CUSTOM */
.bg-parallax h1{
    font-size: 42px;
    font-family: 'ideal-semibold';
}

.bg-parallax p{
    font-size: 20px;
    font-family: 'Segoe UI';
    max-width: 60%;
}

.diagonal-bottom-left + div{
    padding-top: 80px;
    margin-top: -80px;
}

.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12{
    padding-left: 20px;
    padding-right: 20px;
}


/* 9-28 HOME SLIDER */

.swiper-slide .header .container .row {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    max-height: 500px;
    padding: 30px 0 !important;
}

.swiper-container {
    min-height: 620px;
}

.header h1 + p, .header hr + p {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 3.6em;
    font-size: 16px;
    line-height: 1.8em;
}

.swiper-slide .header .container .row div:last-child img {
    width: auto !important;
    max-height: 450px !important;
}

/* ABOUT US */

.region-content .header-picture-text {
    height: 100vh;
    max-height: 440px;
}

/* .region-content .diagonal-bottom-left {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%) !important;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%) !important;
} */